<!-- app.component.html en mf-shell -->
<div class="app-shell-container">
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page" routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/products">Products</a>
        </li>
        <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
      </ul>
    </header>
  </div>
  <router-outlet></router-outlet>
</div>
