/* styles.css en mf-shell */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-shell-container {
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
}

@import url("http://localhost:4201/styles.css");
